<ion-view view-title="Finalize">
  <ion-content>

    <ul class="list">
      <li class="item">
        <label>Driver Comments</label>
        <br/>
        <input class="item-input" type="text" style="width:100%;"> </input>
      </li>

      <li class="item">
        <label>Customer Comments</label>
        <br/>
        <input class="item-input" type="text" style="width:100%;"> </input>
      </li>

      <li class="item">
        <label>Email Address</label>
        <br/>
        <input class="item-input" type="text" style="width:100%;"> </input>

      </li>

      <li class="item">
        <label>Terms and Conditions</label>

      </li>

      <li class="item">
        <label>Warnings and Cautions</label>
      </li>

      <li class="item">
        <label>Customer Comments</label>
      </li>

      <li class="item">
        <ion-list>
          <ion-checkbox>Property Damage</ion-checkbox>
          <ion-checkbox>Water Release</ion-checkbox>
          <ion-checkbox>Driver Acceptance</ion-checkbox>

        </ion-list>

      </li>

      <li class="item">
        <div id="customer-signature-container" , data-ng-class="ticket.driverAccepted ? 'disabled' : ''">
          <canvas id=’signatureCanvas’ height='180' style='border: 1px solid black;'></canvas>
        </div>
      </li>

      <li class="item">
        <button on-tap="finalizeTicket()" class="button button-balanced" style="width:100%;">Submit</button>
      </li>

  </ion-content>
</ion-view>
