<ion-view view-title="Assignment Information">
  <ion-content>

    <ul class="list">

      <li class="item">
        <label>Date</label>
        <br/>
        <span>{{ticket.dispatchDate | date: 'M/d/yy'}}</span>
      </li>

      <li class="item">
        <label>Scheduled Load</label>
        <br/>
        <span>{{ticket.schedLoadDateTime | date: 'hh:mm a'}}</span>
      </li>

      <li class="item">
        <label class=>Scheduled Deliver</label>
        <br/>
        <span class=>{{ticket.schedDeliverDateTime | date: 'hh:mm a'}}</span>
      </li>

      <li class="item">
        <label>Product</label>
        <br/>
        <span class=>{{ticket.productDescription}}</span>
      </li>

      <li class="item">
        <label>Dispatch No</label>
        <br/>
        <span class=>{{ticket.dispatchNo}}</span>
      </li>

      <li class="item">
        <label>Order</label>
        <br/>
        <span>{{ticket.orderID}}</span>

      <li class="item">
        <label>Truck</label>
        <br/>
        <span>{{ticket.truckCode}}</span>
      </li>

      <li class="item">
        <label>Purchase Order</label>
        <br/>
        <span>{{ticket.purchaseOrder || 'N/A'}}</span>
      </li>

      <li class="item">
        <label>Location ID</label>
        <br/>
        <span class=>{{ticket.locationID || 'N/A'}}</span>
      </li>

      <li class="item">
        <label>Source Information</label>
        <br/>
        <span>{{ticket.customerName}}</span>
        <br/>
        <span>{{ticket.address1}}</span>
        <br/>
        <span>{{ticket.address3}}</span>
      </li>

      <li class="item">
        <label>Delivery Information</label>
        <br/>
        <span>{{ticket.locationName}}</span>
        <br/>
        <span>{{ticket.locationAddress1}}</span>
        <br/>
        <span>{{ticket.locationAddress3}}</span>
      </li>

      <li class="item">
        <label>Order</label>
        <br/>
        <span>{{ticket.orderID}}</span>
        <br/>
        <span>{{ticket.orderDescription}}</span>
      </li>

      <li class="item">
        <label>Scheduled Load Size</label>
        <br/>
        <span>{{ticket.quantityScheduled}}</span>
      </li>

      <li class="item">
        <label class=>Reference Ticket</label>
        <br/>
        <input class="item-input" type="text"> </input>
      </li>

      <li class="item">
        <label class=>Quantity({{ticket.unitAbbreviation}})</label>
        <br/>
        <input type="text"> </input>
      </li>

      <li class="item">
        <button on-tap="submitAssignment()" class="button button-balanced" style="width:100%;">Submit</button>
      </li>
    </ul>

  </ion-content>
</ion-view>
