<ion-view view-title="Assignment Information">
  <ion-content>
    <div class="row">
      <div class="col">
        <label class=>Date</label>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label class=>{{ticket.dispatchDate | date: 'M/d/yy'}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label class=>Scheduled Load</label>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label class=>{{ticket.schedLoadDateTime | date: 'hh:mm a'}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label class=>Scheduled Deliver</label>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label class=>{{ticket.schedDeliverDateTime | date: 'hh:mm a'}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label class=>Product</label>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label class=>{{ticket.productDescription}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label class=>Dispatch No</label>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label class=>{{ticket.dispatchNo}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label class=>Order</label>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label class=>{{ticket.orderID}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label class=>Truck</label>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label class=>{{ticket.truckCode}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label class=>Purchase Order</label>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label class=>{{ticket.purchaseOrder || 'N/A'}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label class=>Location ID</label>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label class=>{{ticket.locationID || 'N/A'}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label class=>Source Information</label>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label class=>{{ticket.customerName}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label class=>{{ticket.address1}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label class=>{{ticket.address3}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label class=>Delivery Information</label>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label class=>{{ticket.locationName}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label class=>{{ticket.locationAddress1}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label class=>{{ticket.locationAddress3}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label class=>Order</label>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label class=>{{ticket.orderID}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label class=>{{ticket.orderDescription}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label class=>Scheduled Load Size</label>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label class=>{{ticket.quantityScheduled}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label class=>Reference Ticket</label>
      </div>
    </div>
    <div class="row">
      <div class="col item">
        <input class="item-input" type="text"> </input>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label class=>Quantity({{ticket.unitAbbreviation}})</label>
      </div>
    </div>
    <div class="row">
      <div class="col item">
        <input class="item-input" type="text"> </input>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button on-tap="submitAssignment()" class="button button-balanced" style="width:100%;">Submit</button>
      </div>
    </div>
  </ion-content>
</ion-view>
