<ion-view view-title="Assignment Information">
  <ion-content>

    <div id="haulerInfo">
      <div class="row">
        <div class="col">
          <label>Date</label>
        </div>
        <div class="col">
          <label>Scheduled Load</label>
        </div>
        <div class="col">
          <label>Scheduled Deliver</label>
        </div>
        <div class="col">
          <label>Product</label>
        </div>
        <div class="col">

        </div>

      </div>
      <hr>
      <div class="row">
        <div class="col">
          <span>{{ticket.dispatchDate | date: 'M/d/yy'}}</span>
        </div>
        <div class="col">
          <span>{{ticket.schedLoadDateTime | date: 'hh:mm a'}}</span>
        </div>
        <div class="col">
          <span>{{ticket.schedDeliverDateTime | date: 'hh:mm a'}}</span>
        </div>
        <div class="col">
          <span>{{ticket.productDescription}}</span>
        </div>
        <div class="col">

        </div>
      </div>

      <br/>
      <div class="row">

        <div class="col">
          <label>Dispatch No.</label>
        </div>

        <div class="col">
          <label>Order</label>
        </div>

        <div class="col">
          <label>Truck</label>
        </div>

        <div class="col">
          <label>Po Number</label>
        </div>

        <div class="col">
          <label>Location Id</label>
        </div>

      </div>

      <div class="row">

        <div class="col">
          <span>{{ticket.dispatchNo}}</span>
        </div>

        <div class="col">
          <span>{{ticket.orderID}}</span>
        </div>

        <div class="col">
          <span>{{ticket.truckCode}}</span>
        </div>

        <div class="col">
          <span>{{ticket.purchaseOrder || 'N/A'}}</span>
        </div>

        <div class="col">
          <span class=>{{ticket.locationID || 'N/A'}}</span>
        </div>

      </div>

      <br>

      <div class="row">
        <div class="col">
          <h4>Source Information</h4>
        </div>

        <div class="col">
          <h4>Delivery Information</h4>
        </div>

        <div class="col">
          <h4>Order</h4>
        </div>
      </div>

      <div class="row">
        <div class="col" on-hold="openModal('sourceInfo');">
          <span>{{ticket.customerName}}</span>
          <br/>
          <span>{{ticket.address1}}</span>
          <br/>
        <span>{{ticket.address3}}
                  <span class="triangle-container">
            <span class="triangle-icon triangle-product" data-ng-class="[accepted]">
            </span>
          </span>
        </span>
        </div>

        <div class="col" on-hold="openModal('deliveryInfo');">
          <span>{{ticket.locationName}}</span>
          <br/>
          <span>{{ticket.locationAddress1}}</span>
          <br/>
        <span>{{ticket.locationAddress3}}
          <span class="triangle-container">
            <span class="triangle-icon triangle-product" data-ng-class="[accepted]">
            </span>
          </span>
        </span>
        </div>

        <div class="col">
          <span>{{ticket.orderID}}</span>
          <br/>
          <span>{{ticket.orderDescription}}</span>
        </div>
      </div>

    </div>

    <ul class="list">



      <li class="item">
        <label>Scheduled Load Size</label>
        <br/>
        <span>{{ticket.quantityScheduled}}</span>
      </li>

      <li class="item">
        <label class=>Reference Ticket</label>
        <br/>
        <input class="item-input" type="text"> </input>
      </li>

      <li class="item">
        <label class=>Quantity({{ticket.unitAbbreviation}})</label>
        <br/>
        <input type="text"> </input>
      </li>

      <li class="item">
        <button on-tap="submitAssignment()" class="button button-balanced" style="width:100%;">Submit</button>
      </li>
    </ul>

  </ion-content>
</ion-view>
