<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class=" tabs-dark tabs-color-active-positive">

  <ion-tab hidden="true">
    <ion-nav-view name="truckCode">

    </ion-nav-view>
  </ion-tab>

  <ion-tab hidden="true">
    <ion-nav-view name="waitView">

    </ion-nav-view>
  </ion-tab>


  <ion-tab hidden="true">
    <ion-nav-view name="hauler">

    </ion-nav-view>
  </ion-tab>


  <ion-tab hidden="true">
    <ion-nav-view name="waterAdded">

    </ion-nav-view>
  </ion-tab>


  <ion-tab hidden="true">
    <ion-nav-view name="finalize">

    </ion-nav-view>
  </ion-tab>


  <ion-tab hidden="true">
    <ion-nav-view name="ticketInfo">

    </ion-nav-view>
  </ion-tab>


  <!-- Dashboard Tab -->
  <ion-tab  title="Status" icon-off="ion-gear-b" icon-on="ion-gear-b" ng-click="show();">
    <ion-nav-view ></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Chats" icon-off="ion-information" icon-on="ion-information" href="#/tab/chats">
    <ion-nav-view ></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Account" icon-off="ion-pricetags" icon-on="ion-pricetags" href="#/tab/account">
    <ion-nav-view ></ion-nav-view>
  </ion-tab>

  <div>
    <!-- Account Tab -->
    <ion-tab title="Actions" icon-off="ion-edit" icon-on="ion-edit" ng-click="show()">
      <ion-nav-view></ion-nav-view>
    </ion-tab>
  </div>

</ion-tabs>
