<ion-view view-title="Products">
  <ion-content>
    <div class="row">
      <div class="col-75">
        <div id="productInfo">
          <div class="row">
            <div class="col">
              <label>Product</label>
            </div>
            <div class="col">
              <label>Quantity</label>
            </div>
            <div class="col">
              <label>Unit Price</label>
            </div>
            <div class="col">
              <label>Amount</label>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col">
              C45 20mm SR...
            </div>
            <div class="col">
              7 M3
            </div>
            <div class="col">
              ---
            </div>
            <div class="col">
              ---
            </div>
          </div>
        </div>
      </div>
      <div class="col-25">
        <button class="button button-block button-calm" style="width:90%; float:right;">Add Product</button>
      </div>
    </div>
  </ion-content>
</ion-view>
