<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Recent Updates</div>
      <div class="item item-body">
        <div>
          There is a fire in <b>sector 3</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Health</div>
      <div class="item item-body">
        <div>
          You ate an apple today!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div class="balanced-bg" on-hold="callModal();openModal();">
          You have <b>4</b> meetings on your calendar tomorrow. (Hold for Modal Demo)
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>

<script id="modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar class="bar-positive">
      <h1 class="title">Upcoming</h1>
    </ion-header-bar>
    <ion-content>
      <ul class="list">
        <li class="item">9:00 AM : Brunch with the president</li>
        <li class="item">10:00 AM : Suplex a bear</li>
        <li class="item">12:00 Noon : Repair Warp Core</li>
        <li class="item">2:00 PM : Late Lunch (Foie Gras Stuffed Faberge Eggs)</li>
      </ul>
      <button class="button button-full  button-energized" ng-click="callModal();closeModal();">OK</button>
    </ion-content>
  </ion-modal-view>
</script>