<ion-view view-title="Dashboard">
    <ion-nav-buttons side="right">
        <div ng-controller="MainCtrl" >
        <button class="button button-icon ion-more" ng-click="thisfunction()">
        </button>
        </div>
    </ion-nav-buttons>
    <ion-content class="padding">

        <div class="list card">
            <div class="item item-divider">Recent Updates</div>
            <div ng-controller="SlideBoxCtrl">
                <ion-slide-box show-pager="false" on-slide-changed="slideChanged($index)">
                    <ion-slide ng-repeat="item in messages track by $index">
                        <div class="item item-body">
                            <div class="text-center">
                                <span ng-bind-html="item"></span>
                                <button disabled ng-hide="$index == messages.length-1"
                                        class="button-clear icon ion-chevron-right rightArrow"></button>
                                <button disabled ng-hide="$index == 0"
                                        class="button-clear icon ion-chevron-left leftArrow"></button>
                            </div>
                        </div>
                    </ion-slide>
                </ion-slide-box>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Health</div>
            <div class="item item-body">
                <div>
                    You ate an apple today!
                </div>
            </div>
        </div>
        <div ng-controller="ModalCtrl" class="list card">
            <div class="item item-divider">Upcoming</div>
            <div class="item item-body">
                <div class="balanced-bg" on-hold="callModal();openModal();">
                    You have <b>{{listData.length}}</b> meetings on your calendar tomorrow. (Hold for Modal Demo)
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>

