<ion-view view-title="Water Added">
  <ion-content>

    <ul class="list">
      <li class="item">
        <div class="row">
          <div class="col">
            <span>Water Added: </span>
          </div>
          <div class="col">
            <span>{{waterAdded}} </span>
          </div>
          <div class="col">
            <button on-tap="increaseWater()" class="button button-positive">+</button>
            <button on-tap="decreaseWater()" class="button button-assertive">-</button>
          </div>
        </div>

      </li>

      <li class="item">
        <div class="row">
          <span>Driver Comments</span>
        </div>
        <div class="row">
          <input class="item-input" type="text" style="width:100%;"> </input>
        </div>
      </li>
      <li class="item">
        <button on-tap="submitWater()" class="button button-balanced" style="width:100%;">Submit</button>
      </li>
    </ul>
  </ion-content>
</ion-view>
