<ion-view view-title="Water Added">
  <ion-content>

    <div class="row">
      <div class="col">
        <textarea placeholder="Comments" rows="18" style="border:1px solid; width:100%; height:100%;"></textarea>
      </div>
      <div class="col" style="background-color: #f5f5f5; border: 1px solid #e3e3e3; text-align:center; color:#00add5;">

        <h3>Water Added</h3>
        <br/>
        <button on-tap="increaseWater()" class="button button-block button-positive">
          <i class="ion-plus"></i>
        </button>
        <br/>

        <input type="number" min="0" ng-model="waterAdded"
               style="font-size: x-large; text-align:center; border:0; background-color: #f5f5f5;">

        <br/>
        <span>ADDED</span>
        <br/>
        <button on-tap="decreaseWater()" class="button button-block button-assertive">
          <i class="ion-minus"></i>
        </button>
      </div>
    </div>


    <button on-tap="submitWater()" class="button button-block button-positive" >Ticket Acceptance</button>

  </ion-content>
</ion-view>
