<ion-modal-view>
  <ion-header-bar>
    <h3 class="title">COD</h3>

  </ion-header-bar>
  <ion-content>

    <ion-list class="list">
      <ion-item class="item">
        <div class="row">
          <div class="">
            <select style="height:34px; border-color: #3cdaff; background: #00add5; color:#fff;">
              <option>Account</option>
              <option>Cash</option>
              <option>Check</option>
              <option>Credit Card</option>
              <option>Debit Card</option>
            </select>
          </div>
          <div id="paymentAmount" class="">
            <input type="number" placeholder="{{(ticket.totalPrice + ticket.tax) | currency}}">
          </div>
        </div>
      </ion-item>

      <ion-item class="item">
        <div class="row">
        <input type="text" placeholder="Additional Information">
        </div>
      </ion-item>

    </ion-list>
    <button class="button button-full  button-positive" ng-click="closeModal();">OK</button>
  </ion-content>
</ion-modal-view>
