<ion-modal-view>
  <ion-header-bar>
    <h3 class="title">Authorization Required</h3>

  </ion-header-bar>
  <ion-content>

    <ion-list class="list">
      <ion-item class="item" style="color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;">

        <label>Please enter authorization code to proceed.</label>
      </ion-item>

      <ion-item class="item">
        <input type="text" placeholder="Authorization Code">
      </ion-item>

      <ion-item class="item">
        <button class="button button-full button-positive" ng-click="cancelAcceptance();closeModal();">Submit</button>
        <button class="button button-full button-assertive" ng-click="closeModal();">Cancel</button>
      </ion-item>

    </ion-list>

  </ion-content>
</ion-modal-view>
