<ion-modal-view>
  <ion-header-bar>
    <h3 class="title">Delivery Information</h3>

  </ion-header-bar>
  <ion-content>

    <ion-list class="list">
      <ion-item class="item">
        <span>{{ticket.locationName}}</span>
      </ion-item>

      <ion-item class="item" ng-if="ticket.locationContact">
        <span>{{ticket.locationContact}}</span>
      </ion-item>

      <ion-item class="item">

        <span>{{ticket.locationAddress1}}</span>
      </ion-item>

      <ion-item class="item" ng-if="ticket.locationAddress2">
        <span>{{ticket.locationAddress2}}</span>
      </ion-item>

      <ion-item class="item">
        <span>{{ticket.locationAddress3}}</span>
      </ion-item>

      <ion-item class="item">
        <i class="ion-ios-telephone cai-icon"></i>
        <span>{{ticket.locationPhone}}</span>
        <i class="ion-location cai-icon"> Show Map</i>
      </ion-item>

    </ion-list>
    <button class="button button-full  button-positive" ng-click="closeModal();">OK</button>
  </ion-content>
</ion-modal-view>
