
.tab-nav > a[disabled="disabled"] {
  color: black !important;
}

.disabled {
  color: #777;
}

.tab-item.tab-item-active, .tab-item.active, .tab-item.activated {
  color: #00add5 !important;
  border: 0 !important;
}

ion-tabs.tabs-color-active-positive .tab-item {
  color: white;
}

.darkOptions button {

  color: #fff !important;
  background-color: #444 !important;
}

#finalizeOptions label {
  color: #536878;
  font-size: 18px;
  font-weight: 500;
  border: 0;
  padding: 0;
}

#finalizeOptions .clear-left {
  padding-left: 60px;
}

#ticketInfo label, #haulerInfo label {
  font-weight: bold;
}

#ticketInfo hr, #haulerInfo hr {
  border: 1px solid #00add5;
}

#ticketInfo h4, #haulerInfo h4 {
  color: #00add5;
  font-family: TitilliumWebBold, sans-serif;
  text-transform: capitalize;
}

#paymentAmount > input::-webkit-outer-spin-button,
#paymentAmount > input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#paymentAmount {
  width: 100%;
}

li > label {
  font-weight: bold;
}

.center {
  margin: 0 auto;
}

input[type="text"] {
  border: 2px inset;
  width: 100%;
}

input[type="number"] {
  border: 2px inset;
  width: 100%;
}

.triangle-container {
  position: relative;
  float: right;
  display: block;
  width: 15px;
  height: 15px;
  margin-right: 6px;
}

.triangle-info {
  margin-top: -20px;
}

.triangle-icon {
  width: 0px;
  height: 0px;
  position: absolute;
  border-style: solid;
  border-width: 0 0 15px 15px;
  border-color: transparent transparent #00add5 transparent;
}

.triangle-icon.instructions {
  border-color: transparent transparent #d2322d transparent;
}

.triangle-icon.accepted {
  border-color: transparent transparent #536878 transparent;
}

.triangle-icon.accepted.disabled,
.triangle-icon.disabled {
  border-color: transparent transparent #cccccc transparent;
}

.triangle-product {
  bottom: -1vh;
}

.cai-icon {
  font-size: medium;;
  color: #00add5;
}
